body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,98,121,1) 35%, rgba(0,212,255,1) 100%);
}
.container{
   padding: 20px 40px 20px 40px;
   background-color: silver;
   border: 3px solid rgb(2, 0, 36);
   border-radius: 10px;
}

input{
    padding: 15px;
    width: 80%;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
    font-weight: 500;
}
#btn{
    padding: 10px 30px 10px 30px;
    color:white;
    font-weight: bolder;
    background-color: rgb(29, 35, 90);
    cursor: pointer;
}

h1{
    margin-bottom: 10px;
}

#result{
    margin-top: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style:initial;
}